# Ignore sensitive information
ansible.cfg
*.retry
hosts/development
hosts/staging
hosts/production
group_vars/development
group_vars/staging
group_vars/production
files/terraform/development
files/terraform/staging
files/terraform/production

# Ignore mac folder
.DS_Store
